* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "TT Lakes", sans-serif;
    box-sizing: border-box;
    background-color: #f2f2f2;

}

.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
}
main {

    border-top: 1px solid #D9FFF5;
}

.container {
    padding: 0 16px;
    background-color: #F8F8F8;
}

@media(min-width: 768px) {
    .container {

        padding: 0 24px;
    }
}

@media(max-width:1119px) {
    .header__back {
        background-color: #fff;
    }
}

@media(min-width: 1120px) {
    .container {
        max-width: 1120px;
        margin: auto;
        padding: 0 32px;
    }

    main {
        border-top: none
    }
}