.header {
    background: #F8F8F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 32px 0px 1px;
    font-family: "TT Lakes", sans-serif;
    font-weight: 700;
}
.header__title {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    margin-left: -2px;
}
.header__title::before {
    content: "";
    border-right: 4px solid #41F6D7;
    height: 40px;
    border-radius: 2px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-right: 30px;
}
.header__menu-left {
   display: none;
}
.header__menu--hidden {
    display: none;
}
.header__menu-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__burger {
}
.header__logo {
}
.header__call {
}
.header__chat {
}
.header__profile {
}
.header__first-button {
    display: flex;
    align-items: center;
    border: 0px;
    font-size: 16px;
    letter-spacing: -0.2px;
    font-weight: 500;
    margin-right: 32px;
    background: none;
    font-family: "TT Lakes", sans-serif;
}
.header__second-button {
    display: flex;
    align-items: center;
    border: 0px;
    font-size: 16px;
    letter-spacing: -0.2px;
    font-weight: 500;
    background: none;
    font-family: "TT Lakes", sans-serif;
}
.header__first-img {
    padding-left: 8px;
}
.header__second-img {
    padding-left: 8px;
}
 